.selectlogin-section{
    /* display: none; */
    background-color: #ffc0cb;
}

.newuser-section{
    display: none;
    background-color: #006400;
}

.existinguser-section{
    display: none;
    background-color: #006400;
}